:root {
  /* Your default theme */
  --background: white;
  --foreground: black;
  --video-background: #32325a;
 
}
[data-theme='light'] {
  --background: white;
  --foreground: black;
  --video-background: #32325a;
}

[data-theme="dark"] {
  --background: black;
  --foreground: white;
  --video-background: #32325a;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  max-height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

a {
  color: inherit;
  text-decoration: none;
}